
/*
*{
	border-box;
}
*/

html, body{
	font-family: 'Raleway', Georgia, Courier New;	;
	padding: 0px;
	margin: 0px;
}

p{
	margin:0;
}

h1 {
	padding: 0px;
	margin: 0px;
	font-size: 2em;
	text-align: left;
}

h2 {
	padding: 0px;
	margin: 0px;
	font-size: 1.5em;
	text-align: left;	
}

h3 {
	padding: 0px;
	padding-top: 20px;
	margin: 0px;
	font-size: 1em;
	text-align: left;	
}

/*Couleurs principales du site*/

.bleu{
	color: #0065FC;
}

.bleuclair{
	color: #DEEBFF;
}

.gris{
	color: #c7c7c7;
}

/*Fonctions générales Flexbox*/

.spBetween{
	display : flex;
	justify-content : space-between;
	align-items: center;
}

.centre{
	display:flex;
	justify-content: center;
	align-items:center;
}

.spAround{
	display : flex;
	justify-content : space-around;
	align-items: center;
}

.fxColumnCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spEvenly{
	display:flex;
	justify-content : space-evenly;
	align-items:center;
}

.fxColumnAround{
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

.fxRowAround{
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.fxColumnBetween{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*Header du site*/

.gridTroisElements{
	width: 30%;
	margin-right: 5%;
	margin-top: 10px;
}

.logo{
	width:150px;
	height:75px;
}

.activites:visited{
	color:black;
}

a:link{
	text-decoration:none;
}

a:active{
	padding-top: 20px;
	border-top:	1px solid #0065FC;
	text-decoration:none;
}

a:visited{
	color:#0065FC;
}

/* Barre de recherche */

.mapIcon{
	width: 50px;
	height: 41px;
	background: #F2F2F2 ;
	border-radius: 10px 0 0 10px;
	
}

::placeholder{
	color: black;
	font-weight: bold;
}

.barreRecherche{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Filtres du site*/

.filtres{
	display: flex;
	--heigth:41px;
	gap: 10px;
}

.filtresTitre{
	display: flex;
	align-items: center;
	height: var(--heigth);
}

.filtresListe{
	display: flex;
	flex-wrap: wrap;
	gap: 10px 50px;
}

.filtresListe h3{
	padding-bottom: calc(var(--heigth)/2);
}

.rechercheBouton{
	color:white;
	background-color: #0065FC ;
	border: 1px solid #0065FC;
	border-radius: 0 10px 10px 0;
	padding: 10px;
}

.rechercheEcrire{
	height: 41px;
	color :black;
	border: 1px solid;
	padding: 10px;
	border-color:#F2F2F2;;
	border-radius: 0;
}

.filtresLogos{
	color: #0065FC;
	height: 41px;
	width:40px;
	border:1px solid transparent;
	background-color: #DEEBFF;
	border-radius: 50%;
	margin-right: 10px;

}

.filtresAvecTexte{	
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	height: var(--heigth);
	color:black;
	border:1px solid;	
	border-color :#ECECEC ;
	border-radius: 25px;
	padding-right: 10px;	
}

/*Barre d'information*/

.infoIcon{
	border:1px solid grey;
	height:20px;
	width:20px;
	border-radius:20px;
}

.infoContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	display:flex;
	justify-content: space-between;
	align-items:center;
	width: 450px;
}

/*Les Hebergements à Marseille, dont les plus populaires*/


.blocHebergements h1{
	padding-top: 30px;
}

.blocHebergements h3{
	padding-top: 0;
}
.blocHebergements > h3{
	padding : 50px 0 10px 0;
}

.titresBlocs{
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin :0;
	padding-top: 30px;
}

.blocHebergements{
	margin:30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	background-color: #F2F2F2;
	border:1px solid transparent;
	border-radius: 10px;
	flex:2;
}

.gridHebergements{
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
	grid-row-gap: 50px;
	
}

.cardHebergements{
	max-height: 200px;
	height: auto;
	border-radius: 20px 20px 20px 20px;
	box-shadow:  0 0 16px #0000002e;	
	background-color: white;
}

.cardHebergements > div{
	padding-left: 10px;
}

.imageHebergements{
	box-sizing: border-box;
	padding: 5px;
	background-size: cover;
	background-position: center;
	width:100%;
	max-height: 125px;
	height:80%;
	max-height:60%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.gridPopulaires{
	margin-top: 5%;
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
	row-gap: 25px ;
}

.cardPopulaires{
	max-height: 200px;
	border-radius: 20px 20px 20px 20px;
	box-shadow:  0 0 16px #0000002e;	
	background-color: white;
}

.blocPopulaires{
	margin:30px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #F2F2F2;
	border:1px solid transparent;
	border-radius: 10px;
	flex:1;
}

.cardsPopulaires{
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;

}

.imagePopulaires{
	padding:1%;
	background-size: cover;
	background-position: center;
	width:150px;
	max-height: 150px;
	height: 95%;
	border-radius: 20px 0 0 20px;
	object-fit: cover;

}

.textePopulaires{
	padding-bottom: 2.5%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-content: flex-start;
	margin-left: 15px ;
}

.etoiles{
	display:flex;
	justify-content: flex-start;
	flex-direction: row;
}

/* Les Activites à Marseille*/

.blocActivites{
	margin-bottom: 50px;
}

.blocActivites h1{
	padding-bottom: 20px;
}

.gridActivites h3 {
	padding-left: 20px;
}

.gridActivites{
	display: grid;
	max-height: 600px;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 50px 50px 1fr;
    grid-column-gap: 50px;
}

.cardActivites{
	border-radius: 20px 20px 20px 20px;
	box-shadow:  0 0 16px #0000002e;	
	background-color: white;
	text-align: center;
}

.cardActivites:nth-child(6n+1){
	grid-column-start:1;
	grid-row:  1 / 5; 
}

.cardActivites:nth-child(6n+2){
	grid-column-start:2;
	grid-row: 1/3;

}

.cardActivites:nth-child(6n+3){
	grid-column-start:2;
	grid-row: 4/5  ;
}

.cardActivites:nth-child(6n+4){
	grid-column-start:3;
	grid-row:  1 / 5; 
}

.cardActivites:nth-child(6n+5){
	grid-column-start:4;
	grid-row:  1/2; 
}

.cardActivites:nth-child(6n+6){
	grid-column-start:4;
	grid-row:  3/5; 
}

.imageActivitesGrande{
	background-size: cover;
	background-position: center;
	background-position: 50% 50%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;	
	width: 100%;
	height: 90%;
}

.imageActivitesPetite{
	background-size: cover;
	background-position: center;
	width:100%;
	height:80%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}


/* Pieds de page*/

footer{		
	padding-left: 50px;
	border:1px solid transparent;
	background-color: #F2F2F2;
}

footer ul{
	list-style-type: none;
}

footer ul:not(:first-child){
	padding-left: 20%;
}

footer ul li:not(:first-child){
	padding-top: 10px;
}

.padding{
	padding-left: 5%;
	padding-right: 5%;
}

@media screen and (max-width: 1410px)/*breakpoint Largeur Ipad*/ {
	.mainbloc {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
	.mainbloc .blocPopulaires{order : 1;}

	.mainbloc .blocHebergements{
		order:2;
	}
	.gridPopulaires{
		grid-template-columns: repeat(3,1fr);
		grid-column-gap: 30px;
		grid-template-rows: 1fr;
	}	
	.cardHebergements {
		width: 100%;
	}
}

@media screen and (max-width: 1162px)/*breakpoint Extra Large (Filtres & Hebergements)*/{
	  
	.gridHebergements{
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 30px;
		grid-template-rows: repeat(3,1fr);				
	}
	
	.gridPopulaires{
		grid-template-rows: repeat(3,1fr);
		grid-row-gap: 30px;
		grid-template-columns: 1fr;
	}

	.gridPopulaires img{
		width: 30%;
	}
	.gridActivites{
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-row-gap: 30px;
	}

	.cardActivites img{
		height: 100px;
	}

	.cardActivites h3{
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.cardActivites:nth-child(6n+1){
		grid-column:1;
		grid-row:1; 
	}
	
	.cardActivites:nth-child(6n+2){
		grid-column:2;
		grid-row: 1;
	
	}
	
	.cardActivites:nth-child(6n+3){
		grid-column:3;
		grid-row: 1;
	}
	
	.cardActivites:nth-child(6n+4){
		grid-column:1;
		grid-row:2; 
	}
	
	.cardActivites:nth-child(6n+5){
		grid-column:2;
		grid-row: 2; 
	}
	
	.cardActivites:nth-child(6n+6){
		grid-column:3;
		grid-row:2; 
	}
}

@media screen and (max-width: 1024px)/*breakpoint Large*/ {
	.gridActivites{
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,1fr);
		grid-row-gap: 30px;
	}
	.cardActivites img{
		height: 100px;
	}

	.cardActivites:nth-child(6n+1){
		grid-column:1;
		grid-row:1; 
	}
	
	.cardActivites:nth-child(6n+2){
		grid-column:2;
		grid-row: 1;
	
	}
	
	.cardActivites:nth-child(6n+3){
		grid-column:1;
		grid-row: 2;
	}
	
	.cardActivites:nth-child(6n+4){
		grid-column:2;
		grid-row:2; 
	}
	
	.cardActivites:nth-child(6n+5){
		grid-column:1;
		grid-row: 3; 
	}
	
	.cardActivites:nth-child(6n+6){
		grid-column:2;
		grid-row:3; 
	}
}

footer{
	padding-left:20px;
}
